<a href="https://colab.research.google.com/github/alramirezve/ciencia_de_datos/blob/master/Manipulacion_de_textos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#Ejercicios bash texto
!echo hola     mundo    cruel # elimina los espacios en blanco entre las palabras

hola mundo cruel

In [2]:
!echo 'hola     mundo    cruel'

hola     mundo    cruel

In [5]:
!echo "hola     mundo    cruel"

hola     mundo    cruel

In [4]:
!echo linea 1
!echo linea 2
!echo linea 3

linea 1
linea 2
linea 3

In [19]:
%%bash
echo 'linea 1
linea 2
linea 3'

linea 1
linea 2
linea 3

In [9]:
!echo linea 1 \
linea 2 \
linea 3

linea 1 linea 2 linea 3

In [10]:
'''también admite el uso de caracteres de escape (precedidos por '\'); 
en el siguiente ejemplo se usa el carácter de retorno de carro '\n' en la cadena 
de texto para indicar el inicio de una nueva línea. Se debe usar la opción “-e” 
del comando echo para convertir los caracteres \n en retornos de carro.'''
!echo -e "linea 1\nlinea 2\nlinea 3"

linea 1
linea 2
linea 3

In [14]:
'''Bash también tiene el comando printf, el cual usa una sintaxis similar a la del lenguaje C:
%s indica cadena de caracteres.
%f indica un número en punto flotante.
%g indica un número entero.
En los siguientes ejemplos se ilustra como se puede indicar el tamaño del campo. Note la alineación de la impresión.'''
!printf '%s ---- %f' 'hola mundo'  1.23456789
!printf '%15s --- %8.2f'  hola   1.23456789
!printf '%15s --- %8.2f'  'hola mundo'   123.456789

hola mundo ---- 1.234568           hola ---     1.23     hola mundo ---   123.46

In [13]:
'''En vez de echo se puede usar seq para imprimir secuencias.'''
!seq 5

1
2
3
4
5

In [12]:
'''La opción -f permite especificar formato para la secuencia, por ejemplo:'''
!seq -f"linea %g" 5

linea 1
linea 2
linea 3
linea 4
linea 5

In [16]:
'''La opción -s permite indicar el separador.'''
!seq -s, 2 2 10 # el separador es la coma

2,4,6,8,10

In [18]:
'''La opción -w permite especificar formato.'''
!seq 0 .05 .1
!seq -w 0 .05 .1

0.00
0.05
0.10
0.00
0.05
0.10

In [30]:
%%HTML
<H1>Concatenaciones y PIPES</H1>
<table style="width:100%"; border= "1px">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
</table>

In [33]:
!seq -f'linea %g' 3 > out.1
!cat out.1 out.1 out.1 | sort

linea 1
linea 1
linea 1
linea 2
linea 2
linea 2
linea 3
linea 3
linea 3

In [34]:

!echo hola mundo feliz > out.1
!cat out.1

hola mundo feliz

In [36]:
!echo "otra vez hola mundo feliz" >> out.1 # agrega la nueva impresión al final de out.1
!cat out.1

hola mundo feliz
otra vez hola mundo feliz

In [37]:
!echo > out.1
!cat out.1

In [0]:
!echo CustomerID, Customer > out.1
!echo    1, Customer A >> out.1
!echo    2, Customer B >> out.1

In [0]:
%%bash
echo "CustomerID, Customer
   1, Customer A
   2, Customer B" > out.1

In [0]:
%%bash
cat > out.1 <<EOF
CustomerID, Customer
   1, Customer A
   2, Customer B
EOF

In [41]:
cat out.1

CustomerID, Customer
   1, Customer A
   2, Customer B

In [42]:
%%bash

seq -f"linea %g" 1 1 3 > out.1
seq -f"linea %g" 4 1 6 > out.2
seq -f"linea %g" 7 1 9 > out.3
cat out.1 out.2 out.3

linea 1
linea 2
linea 3
linea 4
linea 5
linea 6
linea 7
linea 8
linea 9

In [43]:
cat out.*

linea 1
linea 2
linea 3
linea 4
linea 5
linea 6
linea 7
linea 8
linea 9

In [44]:
%%bash
seq -f"linea %g" 100 > out.1 # se generan 100 líneas
head -n 3 out.1

linea 1
linea 2
linea 3

In [45]:
!tail -n 3 out.1

linea 98
linea 99
linea 100

In [46]:
%%bash
seq -f'linea %g' 6 > out.1
tail +5 out.1

linea 5
linea 6

In [47]:
!echo 1; echo 2; echo 3

1
2
3

In [48]:
%%bash
seq -f'linea %g' 3 > out.1
cat out.1 out.1 out.1 | sort

linea 1
linea 1
linea 1
linea 2
linea 2
linea 2
linea 3
linea 3
linea 3

In [49]:
%%bash

seq -f'linea %g' 3 > out.1 # genera el primer archivo de datos
seq -f'linea %g' 3 > out.2 # genera el segundo archivo de datos
cat out.1 out.2 out.1 out.2

linea 1
linea 2
linea 3
linea 1
linea 2
linea 3
linea 1
linea 2
linea 3
linea 1
linea 2
linea 3

In [50]:
!cat out.1 out.2 out.1 out.2 | sort | uniq

linea 1
linea 2
linea 3

In [52]:
'''El comando wc permite contar líneas, palabras, caracteres y bytes de un archivo. La opción -l cuenta líneas, -m caracteres y -w palabras.'''
!wc -l out.1 out.2 # número de líneas
!wc -m out.1 out.2 # número de caracteres
!wc -w out.1 out.2 # número de palabras
!wc out.1 out.2

 3 out.1
 3 out.2
 6 total
24 out.1
24 out.2
48 total
 6 out.1
 6 out.2
12 total
 3  6 24 out.1
 3  6 24 out.2
 6 12 48 total

In [53]:
'''El comando grep permite imprime las líneas del archivo que contiene una cadena de texto especificada. 
En los siguentes ejemplos se imprimen los números del 1 al 20 que contienen un '1'.'''
!seq 20 | grep 1

1
10
11
12
13
14
15
16
17
18
19

In [54]:
%%bash
seq -f'linea %g' 20 > out.1
grep 1 out.1

linea 1
linea 10
linea 11
linea 12
linea 13
linea 14
linea 15
linea 16
linea 17
linea 18
linea 19

In [56]:
'''Reemplazo de caracteres con tr
También existen comandos para manipular textos. El comando tr permite cambiar una cadena de texto por otra.'''

!echo 'h-o-l-a- -m-u-n-d-o' > out.1
!tr -d '-'  < out.1 # borra los caracteres '-'.

hola mundo

In [57]:
!echo 'h-o-l-a- -m-u-n-d-o' > out.1
!tr '-'  '=' < out.1  #  '-' por '='.

h=o=l=a= =m=u=n=d=o

In [58]:
!echo 'h-o-l-a- -m-u-n-d-o' > out.1
!tr '[:lower:]'  '[:upper:]' < out.1  # minúsculas a mayúsculas.

H-O-L-A- -M-U-N-D-O

In [0]:
%%bash
cat > out.1 <<EOF
Date, Year, CustomerID, Value
2013-01-12, 2013, 1, 100
2014-05-12, 2014, 1, 100
2013-02-25, 2013, 2, 200
2013-04-04, 2013, 1, 100
2013-06-21, 2013, 2, 200
2014-05-12, 2014, 1, 100
2014-05-12, 2014, 2, 200
2013-02-28, 2013, 1, 100
2013-08-02, 2013, 1, 100
EOF

In [71]:
!head -n 1 out.1 | tr '[:upper:]' '[:lower:]' && tail -n +2 out.1

date, year, customerid, value
2013-01-12, 2013, 1, 100
2014-05-12, 2014, 1, 100
2013-02-25, 2013, 2, 200
2013-04-04, 2013, 1, 100
2013-06-21, 2013, 2, 200
2014-05-12, 2014, 1, 100
2014-05-12, 2014, 2, 200
2013-02-28, 2013, 1, 100
2013-08-02, 2013, 1, 100

In [88]:
!head -n 1 out.1 | tr ',' '\n' | tr -d ' ' > out.4 
!cat out.4 
!cat out.4 | wc -l

Date
Year
CustomerID
Value
4